* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

nav{
    background-color: #40739e;
    width: 100%;
}

.logo {
    
    padding: 20px 10px;
    margin: 0px 80px;
}

.logo a {
    color: #ffffff;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
}

main {
    display: flex;
    flex-direction: row;
}

.todo {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border: 2px;
    border-style: solid;
    border-radius: 10px;
    height: 60vh;
    width:40%;
    margin: 20px 90px;
}

.todo h2{
    padding: 20px 0px;
    font-weight: bold;
}

#masukkan-buku {
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.inputan {
    padding: 20px 10px;
    /* background-color: #e50914; */
    display: flex;
    align-items: flex-start;
    font-size: 16px;
}

.inputan label {
    font-size: 18px;
    flex-basis: 20%;
}

.inputan input {
    padding: 4px 10px;
    height: 30px;
    width: 100%;
    border: 1px;
    border-style: solid;
    border-color: #000000;
    border-radius: 4px;
}

.selesai {
    padding: 10px 10px;
}

#input-buku {
    position: relative;
    left: 33vw;
    margin: 20px 0px;
    height: 10px  30px;
    width: 80px;
}

/* List Style */

.list {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border: 2px;
    border-style: solid;
    border-radius: 10px;
    height: auto;
    width: 40%;
    margin: 20px 20px;
}

.pencarian {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    /* border: 1px;
    border-style: solid;
    border-color: #000000;
    border-radius: 30px; */
    width:100%;
    height: 20vh;
    margin: 20px 0px;
}

.pencarian h2 {
    padding: 20px 0px;
    font-weight: bold;
}

.cari {
    text-align: center;
    width: 100%;
    height: auto;
}
.cari input{
    height: 30px;
    width: 60%;
    padding: 6px;
    margin: 0px 5px;
    
}

.cari button {
    height: 30px;
    width: 20%;
    
}
.css {
    border: 1px;
    border-style: solid;
    border-color: #000000;
    border-radius: 30px;
    width: 80%;
    height: auto;
}

/* Belum selesai style */

.buku {
    height: auto;
    width: 95%;
    border: 1px solid #000000 ;
    border-radius: 3px;
    padding-bottom: 40px;
    margin-bottom: 60px;
    
}

.buku h3 {
    font-size: 16px;
    text-align: center;
    padding: 10px;

}

.dibaca {
    color: #636e72;
}

.belum-dibaca {
    color: #636e72;
}

.item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin : 10px 12px;
    padding: 6px 10px;
    border: 1px solid #2d3436;
    height: auto;
}

.aksi {
    
    display: flex;
    align-items: flex-end;
}

.aksi button {
    margin: 0px 4px;
}

.aksi .selesai {
    background-color: #00b894;
    color: #ffffff;
    border: 0px;
    padding: 3px 6px;
}

.aksi .hapus {
    background-color: #d63031;
    color: #ffffff;
    border: 0px;
    padding: 3px 6px;
}


